@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts  */
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* End Google Fonts  */

* {
    @apply m-0 p-0 box-border scroll-smooth font-["Lato"];
}

.menuItem {
    @apply md:mr-14 m-[12px] text-gray-300  md:font-[600] md:text-[18px] text-[14px] font-[400] cursor-pointer relative;
}

.menuItem::after {
    content: '';
    @apply absolute bottom-0 left-0 w-0 transition-all duration-500 bg-gradient-to-r from-cyan-700 to-purple-500 h-[2px] rounded-full;
}

.menuItem:hover::after {
    @apply w-full
}

.slider {
    background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.sliderItem {
    @apply w-[100vw] relative flex items-center justify-center;
}

.slideBg {
    @apply w-full h-full md:w-[700px] md:h-[700px] rounded-[100%] absolute;
}

.sliderTitle {
    @apply absolute top-[10%] right-[10%] text-white text-[15px] md:text-[60px] font-extrabold text-center z-10;
}

.sliderPrice {
    @apply absolute top-[2%] left-[2%] md:top-[10%] rounded-xl md:rounded-2xl p-1 transition-all duration-500 cursor-pointer hover:rounded-none md:left-[10%] text-white text-[15px] md:text-[60px] font-medium text-center ;
}

.slideImage {
    z-index: 2;
    @apply md:w-[50%] w-[85%];
}

.buyBtn {
    @apply  absolute md:bottom-[30%] md:right-[10%] max-sm:bottom-[5%] max-sm:left-[5%] text-white text-[15px] md:text-[30px] font-extrabold z-10 bg-black hover:bg-white hover:text-black p-3 rounded-md;
    z-index: 10; /* Ensure the button is above other elements */
}

.sliderItem:nth-child(1) .slideBg{
    @apply bg-blue-600;
}
.sliderItem:nth-child(2) .slideBg{
    @apply bg-purple-600;
}
.sliderItem:nth-child(3) .slideBg{
    @apply bg-yellow-600;
}
.sliderItem:nth-child(4) .slideBg{
    @apply bg-red-600;
}
.sliderItem:nth-child(5) .slideBg{
    @apply bg-green-600;
}


.sliderItem:nth-child(1) .sliderPrice{
    @apply bg-blue-600;
}
.sliderItem:nth-child(2) .sliderPrice{
    @apply bg-purple-600;
}
.sliderItem:nth-child(3) .sliderPrice{
    @apply bg-yellow-600;
}
.sliderItem:nth-child(4) .sliderPrice{
    @apply bg-red-600;
}
.sliderItem:nth-child(5) .sliderPrice{
    @apply bg-green-600;
}

.features{
    @apply flex flex-col md:flex-row items-center justify-between p-[50px]
}

.feature{
    @apply flex flex-col items-center text-center
}

.featureImg{
    @apply w-[50px] h-[50px]
}

.featureTitle{
    @apply text-[20px] font-[600] m-[20px];
}

.featureDesc{
    @apply text-gray-500 w-1/2 h-[100px] 
}

.product{
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
@media (max-width: 768px) {
    .slider{
        clip-path: none
    }
    .product{
        clip-path: none;
    }
}

.buyProductWindow input{
    @apply h-[50px] border-[1px] outline-none border-gray-500 border-solid p-2 rounded-[6px] drop-shadow-md placeholder:font-bold
}

.galleryItem{
    @apply flex-1 p-[50px];
}

.galleryImg{
    @apply w-full ;
}

.galleryTitle{
    @apply text-xl font-bold italic;
}

.nsItem{
    @apply flex-1 bg-black text-white flex items-center justify-center flex-col text-center
}

.nsImg{
    @apply w-[90%] md:h-[500px] h-[300px]
}

.nsTitle{
    @apply md:m-0 my-2 text-[30px] md:text-[40px];
}

.nsButton{
    @apply bg-white font-bold p-[8px] md:p-[15px] cursor-pointer text-black rounded-md text-lg md:text-xl border-solid border-white border-[1px] hover:bg-black hover:text-white
}

.fMenuTitle{
    @apply text-[16px] md:text-[18px] font-bold;
}

.fMenuList {
    @apply p-0 list-none;
}

.fListItem{
    @apply mb-[10px] text-[12px] md:text-[16px] text-gray-500 cursor-pointer hover:text-gray-700
}

.fIcons{
    @apply flex;
}

.fIcon{
    @apply w-[25px] h-[25px] mr-[10px]
}

.copyright{
    @apply text-gray-500 text-[10px] md:text-[14px]
}

